body {
	background-image: url("../img/trans-musicales-2015.jpg");
	background-position: center top;
	font-family: Calibri, sans-serif;
}

label {
	text-align: right;
}

.panel-title {
	font-weight: bold;
}

.btn {
	font-weight: bold;
}

.navbar-brand {
	color: white;
	font-size: x-large;
	font-variant: small-caps;
}

.message-error {
	margin: 3px 0 10px 0;
	
}

#connexion_container {
	margin: 0 auto;
	text-align: center;
}

#connexion_container .panel {
	border-width: 0;
}

#connexion_container .panel-title {
	font-size: xx-large;
}

#connexion_container .panel-body {
	padding: 0;
}

#connexion_container .form-group {
	margin: 0;
	padding: 0;
}

#connexion_container .form-group > input {
	width: 100%;
	height: 45px;
}

#connexion_container .btn {
	border-radius: 0;
	font-size: large;
}

#connexion_container .panel-footer {
	padding: 5px 0;
}