body {
	background-image: url("../img/trans-musicales-2015.jpg");
	background-position: center top;
	font-family: Calibri, sans-serif;
}

label {
	text-align: right;
}

th, td {
	text-align: center;
}

.control-label {
	padding-top: 5px;
}

.label-required::after {
	content: " (*)";
}

.panel {
	border-width: 0;
}

.panel-title {
	font-weight: bold;
}

.panel-success .panel-heading {
	text-align: center;
}

.panel-success .panel-title {
	font-size: xx-large;
}

.btn {
	font-weight: bold;
}

.message-error {
	margin: 3px 0 10px 0;
	color: firebrick;
}

.message-empty-table {
	margin: 25px 0;
	text-align: center;
	font-style: italic;
}

.submit-container {
	padding: 0;
}


/* MENU */

#menu {
	margin-bottom: 50px;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-weight: bold;
}

.navbar-brand {
	font-size: x-large;
	font-variant: small-caps;
	font-weight: normal;
}

#user_pseudo {
	font-size: large;
	line-height: 45px;
}

#btn-logout {
	font-size: large;
}


/* CONNEXION */

#connexion_container {
	margin-top: 100px;
	text-align: center;
}

#connexion_container .panel-title {
	font-size: xx-large;
}

#connexion_container .panel-body {
	padding: 0;
}

#connexion_container .form-group {
	margin: 0;
	padding: 0;
}

#connexion_container .form-group > input {
	width: 100%;
	height: 45px;
}

#connexion_container .btn {
	border-radius: 0;
	font-size: large;
}

#connexion_container .panel-footer {
	padding: 5px 0;
}


/* INSCRIPTION */


/* RECHERCHE DE SALLE */

#noResultFound {
	font-weight: bold;
	text-align: center;
}


/* RESERVATION DE SALLE */

#submitBooking {
	margin-top: 15px;
}

#booking-error {
	text-align: center;
	font-weight: bold;
}

#booking-success p {
	text-align: justify;
}

#booking-success-title {
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	padding-bottom: 10px;
}

#booking-success-pending {
	font-weight: bold;
	color: blue;
}

#booking-success-valid {
	font-weight: bold;
	color: green;
}

#booking-success-denied {
	font-weight: bold;
	color: red;
}

/* TMP */

#tmp_id {
	margin-top: 100px;
}